.panorama-container {
    width: 100%; /* Full width of the screen */
    height: 100%; /* Adjust to fit your desired height */
    overflow-x: auto; /* Horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrolling */
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
    display: flex;
}

.panorama {
    height: 100%;
    display: inline-block;
}

.bottomBar {
    position: fixed;
    width: fit-content;
    bottom: 10%;
    align-self: center;
    flex-direction: row;
    display: flex;
    background: linear-gradient(black, rgb(65, 63, 63));
    border: 0.5px solid grey;
    border-radius: 15px;
}

.bottomBar h1 {
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    background: none;
    border: none;
    text-align: center;
    color: white;
    font-weight: lighter;
    justify-self: center;
    align-self: center;
}

.bottomBar h2 {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: none;
    border: none;
    text-align: center;
    color: white;
    font-weight: lighter;
    justify-self: center;
    align-self: center;
}

.search-input {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 400px;
}

.overlay-square {
    position: absolute;
    border-radius: 15px;
    z-index: 10;
    border: 2px solid blue; /* Square border color */
    background-color: rgba(52, 80, 164, 0.2);
}

.overlay-square:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.overlay-square p {
    color: white;
    align-self: center;
    text-align: center;
    font-weight: bold;
}

.custom-hotspot {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 8px solid lightgray;
    justify-content: center;
    align-items: center;
}

.custom-hotspot-blue {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 8px solid lightblue;
    justify-content: center;
    align-items: center;
}


@keyframes spark {
    0% { box-shadow: 0 0 20px rgba(0, 150, 255, 0.5); }
    50% { box-shadow: 0 0 20px rgba(0, 150, 255, 0.8); }
    100% { box-shadow: 0 0 20px rgba(0, 150, 255, 0.5); }
}
.custom-hotspot-blue:hover {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 8px solid lightblue;
    justify-content: center;
    align-items: center;
    animation: spark 0.5s infinite;
}

.custom-hotspot:hover {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 8px solid white;
    justify-content: center;
    align-items: center;
    animation: spark 0.5s infinite;
}


.custom-hotspot-inner {
    background-color: lightgray;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    z-index: 100;
    position: absolute;
    align-self: center;
    left: 5px;
    top: 5px;
}

.custom-hotspot-inner-blue {
    background-color: lightblue;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    z-index: 100;
    position: absolute;
    align-self: center;
    left: 5px;
    top: 5px;
}

.custom-hotspot-inner:hover {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    z-index: 100;
    position: absolute;
    align-self: center;
    left: 5px;
    top: 5px;
    animation: spark 0.5s infinite alternate;
}

.custom-hotspot-inner-blue:hover {
    background-color: lightblue;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    z-index: 100;
    position: absolute;
    align-self: center;
    left: 5px;
    top: 5px;
    animation: spark 0.5s infinite alternate;
}




.hotspot-text {
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
}